<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="schedule" value="16.04.2017 4:34:30" />
        <add key="period" value="12" />
        <add key="serverIP" value="127.0.0.1" />
        <add key="serverPort" value="10032" />
        <add key="schedule0" value="25.04.2017 3:12:49" />
        <add key="period0" value="12" />
        <add key="schedule1" value="" />
        <add key="period1" value="" />
        <add key="schedule2" value="" />
        <add key="period2" value="" />
        <add key="schedule3" value="" />
        <add key="period3" value="" />
        <add key="schedule4" value="" />
        <add key="period4" value="" />
        <add key="receivedSchedule" value="0" />
        <add key="schedule5" value="" />
        <add key="period5" value="" />
    </appSettings>
</configuration>