<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serverIP" value="127.0.0.1" />
        <add key="serverPort" value="10032" />
        <add key="schedule0" value="17.04.2017 20:15:50" />
        <add key="period0" value="12" />
        <add key="receivedSchedule" value="0" />
        <add key="schedule1" value="18.04.2017 20:15:50" />
        <add key="period1" value="56" />
        <add key="schedule2" value="17.04.2017 14:33:32" />
        <add key="period2" value="4" />
    </appSettings>
</configuration>